<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
        <title>List Pages</title>
    </head>
    <body>
        <div>
            <h1>Link to Pages:</h1>
            <ul>
                <li><a href="form-with-username-and-password/public/index.html">Auth Page Form  with username and password</a></li>
                <li><a href="form-with-passwordless-authentication/public/index.html">Auth Page Form  with passwordless authentication</a></li>
            </ul>
        </div>
    </body>
</html>